<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Something's Wrong</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
    <link href="/css/error.css" rel="stylesheet"/>
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Something's wrong</h3>
            <h1><span>E</span><span>R</span><span>R</span><span>O</span><span>R</span></h1>
        </div>
        <h2>문제가 발생했습니다.</h2>
        <a href="/" class="btn btn-white btn-animation-1">GO HOME</a>
    </div>
</div>
</body>
</html>