<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nineone.nocm.mapper.channel">
    <insert id="insertChannel">
    	insert channel (name, member_email)
    		values(#{name}, #{member_email})
    </insert>
    <update id="updateChannel">
        update channel set name = #{name} where id = #{id}
    </update>
    <delete id="deleteChannel">
        delete from channel where id = #{channelId}
    </delete>
    <select id="channelList" resultType="com.nineone.nocm.domain.Channel">
        select * from channel where member_email = #{userEmail}
    </select>
</mapper>