<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nineone.nocm.mapper.channel">
    <insert id="insertChannel" useGeneratedKeys="true" keyProperty="id">
    	insert channel (name, member_email)
    		values(#{name}, #{member_email})
    </insert>
    <update id="updateChannel">
        update channel set name = #{name} where id = #{id}
    </update>
    <delete id="deleteChannel">
        delete from channel where id = #{channelId}
    </delete>
    <select id="channelList" resultType="com.nineone.nocm.domain.Channel">
        select channel.*,joininfo.member_email as login_email from channel join joininfo on channel.id = joininfo.channel_id where joininfo.member_email=#{userEmail};
    </select>
    <insert id="insertJoinInfo">
    	insert joininfo (channel_id,member_email)
    		values(#{channel_id},#{member_email})
    </insert>
    <select id="channelListAll" resultType="com.nineone.nocm.domain.Channel">
        select * from channel;
    </select>
</mapper>