<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nineone.nocm.mapper.joininfo">
    <select id="getAllList" resultType="com.nineone.nocm.domain.JoinInfo">
        select * from joininfo
    </select>
    <select id="channelAuthorityCheck" resultType="com.nineone.nocm.domain.JoinInfo">
        select * from joininfo where channel_id = #{channel_id} and member_email = #{member_email}
    </select>
    <insert id="insertJoinInfo">
        insert joininfo (channel_id,member_email) values (#{channel_id},#{member_email})
    </insert>
</mapper>