<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nineone.nocm.mapper.joininfo">
    <select id="isExistUser" resultType="java.lang.Boolean" parameterType="com.nineone.nocm.domain.Invite">
        select exists (select * from joininfo where channel_id = #{channel_id}
        and member_email = #{recipient})
    </select>
    <select id="getAllList" resultType="com.nineone.nocm.domain.JoinInfo">
        select * from joininfo
    </select>
    <select id="channelAuthorityCheck" parameterType="com.nineone.nocm.domain.Invite" resultType="java.lang.Boolean">
        select exists (select * from joininfo where channel_id = #{channel_id}
        and member_email = #{sender} )
    </select>
    <insert id="insertJoinInfo">
        insert joininfo (channel_id,member_email) values (#{channel_id},#{member_email})
    </insert>
</mapper>