<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.nineone.nocm.mapper.message">
    
    
    <resultMap type="com.nineone.nocm.domain.Message" id="messageList">
    	<result property="id" column="id"/>
    	<result property="channel_id" column="channel_id"/>
    	<result property="content" column="content"/>
    	<result property="sender" column="sender"/>
    	<result property="send_date" column="send_date"/>
    	<association property="user"  javaType="com.nineone.nocm.domain.User" >
    		<result property="name" column="name"/>
             <result property="picture" column="picture"/>
        </association>
		<collection property="files" column="id" javaType="java.util.ArrayList" ofType="com.nineone.nocm.domain.ContentsFile" select="getMessageFiles"></collection>
    </resultMap>
    
    <insert id="insertMessage" useGeneratedKeys="true" keyProperty="id">
    	insert message (channel_id,content,sender,send_date)
			values (#{channel_id},#{content},#{sender},#{send_date}) 
    </insert>
	<select id="getMessageFiles" resultType="com.nineone.nocm.domain.ContentsFile">
		select * from file where message_id = #{id}
	</select>
    
    <select id="getMessageList" resultMap="messageList">
    
   		select * from message join member on member.email = message.sender
			where channel_id = #{channel_id} 
			<if test="first.equals(false)">
				and (send_date <![CDATA[<]]> (select send_date from message where id = #{cursorId}) or 
				(send_date = (select send_date from message where id = #{cursorId}) and id <![CDATA[<]]> #{cursorId}))  
			</if>
				order by send_date desc, id desc limit 12
				
    </select>
    
    <select id="getMsgCntList" resultType="java.lang.Integer">
    	<foreach collection="list" item="item" index="index">
    		<if test="index != 0 ">union all</if>
    		(select count(*) from message 
    			where 
    				message.send_date > (select last_access_date from joininfo where channel_id = #{item.id} and  member_email= #{item.login_email} ) 
    				and channel_id = #{item.id})
    	</foreach>
    </select>
    
    </mapper>
    