<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nineone.nocm.mapper.tasklist">
	
	<resultMap type="com.nineone.nocm.domain.TaskList" id="TaskList">
    	<result property="id" column="id"/>
    	<result property="name" column="name"/>
    	<result property="channel_id" column="channel_id"/>
    	<result property="register_date" column="register_date"/>
    	<result property="edit_date" column="edit_date"/>
		<result property="position" column="position"/>
		<collection property="tasks" column="id" javaType="java.util.ArrayList" ofType="com.nineone.nocm.domain.Task" select="getTask">
			<result property="id" column="id"/>
			<result property="tasklist_id" column="tasklist_id"/>
			<result property="content" column="content"/>
			<result property="register_date" column="register_date"/>
			<result property="edit_date" column="edit_date"/>
			<result property="position" column="position"/>
		</collection>
    </resultMap>

	
	<insert id="insertTaskList" useGeneratedKeys="true" keyProperty="id" parameterType="com.nineone.nocm.domain.TaskList">
		insert tasklist (name,channel_id,position) 
			values (
				#{name},
				#{channel_id},
				(select * from (select ifnull(max(position)+1 , 0) from tasklist) a)
				)
	</insert>
	
	<delete id="deleteTaskList">
		delete from tasklist where id= #{id}
	</delete>
	
	<update id="updateTaskListPositionByDelete">
		update tasklist set position = (position - 1) where position > #{position}
	</update>
	
	<update id="updateTaskListName">
		update tasklist set name = #{name}, edit_date = #{edit_date} where id = #{id}
	</update>
	
	<select id="getTaskList" resultMap="TaskList">
		select * from tasklist 
		where channel_id = #{channel_id}
		order by position
	</select>
	
	<select id="getTask" resultType="com.nineone.nocm.domain.Task">
		select * from task where tasklist_id = #{id} order by position
	</select>
	
	<!-- <update id="initTaskListPosition">
		update tasklist set position = 0  where position = #{tasklistOldIndex}
	</update> -->
	
	<update id="moveTaskListPosition">
		update tasklist set
		<choose>
			<when test="isUp">
				position = (position + 1)
				where position >= #{tasklistNewIndex}
				and position <![CDATA[<]]> #{tasklistOldIndex}
			</when>
			<otherwise>
				position = (position - 1)
				where position > #{tasklistOldIndex}
				and position <![CDATA[<=]]> #{tasklistNewIndex}
			</otherwise>
		</choose>
	</update>
	
	<update id="updateTaskListPosition">
		update tasklist set position = #{tasklistNewIndex}
			where id = #{tasklistId} 
	</update>
	
	
</mapper>